<%_ include partials/header _%>
		<%_ include partials/news_banner _%>
		<section class="blog">
			<%_ if (posts && posts.length) { _%>
				<nav class="col-sm-2 col blog-nav">
				<div class="row nav-menu"><i class="fas fa-bars"></i></div>
					<div class="inner-nav">
						<%_ posts.forEach(post => { _%>
							<div class="row link title" id="<%= post._id %>"><a><div><%= post.title %></div></a></div>
						<%_ }) _%>
					</div>
				</nav>
			<%_ } _%>
			<main class="col-sm-<%= posts && posts.length ? 10 : 12 %> col blog-container">
				<div class="blog-body">
					<%_ if (posts && posts.length) { _%>
						<%_ posts.forEach(post => { _%>
							<div class="post" data-id="<%= post._id %>">
								<%_ if (admin) { _%><div class="delete-post">&times;</div><%_ } _%>
								<%_ if (post.title) { _%>
									<div class="row post-title">
										<h2 class="main-title" style="display: inline;"><%= post.title %></h2>
										<%_ if (post.subtitle) { _%>&#8195;<i class="sub-title" style="display: inline;"><%= post.subtitle %></i><%_ } _%>
									</div>
								<%_ } _%>
								<%_ if (post.mediaList.length) { _%>
									<div class="row post-main-img"><img src="/media/<%= post.mediaList[0] %>"></div>
								<%_ } _%>
								<%_ if (post.textbody) { _%>
									<div class="row post-textbody">
									<%_ if (post.textbody.includes('\n')) { _%>
										<%_ let l = post.textbody.split('\n') _%>
										<%_ l.forEach((line, i) => { _%>
											<%= line %>
											<%_ if (i !== l.length-1) { _%><br><%_ } _%>
										<%_ }) _%>
									<%_ } else { _%>
										<p><%= post.textbody %></p>
									<%_ } _%>
									</div>
								<%_ } _%>
							</div>
						<%_ }) _%>
					<%_ } else { _%>
						<p style="text-align: center;">No blog posts yet...</p>
					<%_ } _%>
				</div>
			</main>
		</section>
<%_ include partials/footer _%>