<%_ include partials/header _%>
		<div class="row">
			<%_ include partials/news_banner _%>
		</div>
		<section class="blog">
			<%_ if (posts && posts.length) { _%>
				<div class="col-sm-4 col blog-nav">
					<%_ posts.forEach(post => { _%>
						<div class="row link title" id="<%= post._id %>"><%= post.title %></div>
					<%_ }) _%>
				</div>
			<%_ } _%>
			<div class="col-sm-<%= posts && posts.length ? 8 : 12 %> col blog-container">
				<div class="blog-body">
					<%_ if (posts && posts.length) { _%>
						<%_ posts.forEach(post => { _%>
							<div class="post">
								<%_ if (post.title) { _%>
									<div class="row post-title">
										<h2 class="main-title" style="display: inline;"><%= post.title %></h2>
										<%_ if (post.subtitle) _%>:&#8195;<small class="sub-title" style="display: inline;"><%= post.subtitle %></small>
									</div>
								<%_ } _%>
								<%_ if (media && media.length) { _%>
									<%_ var url; _%>
									<%_ media.forEach(img => { if (img.filename.includes(post._id)) url = "/media/" + img.filename }) _%>
									<%_ if (url) _%><div class="row post-main-img"><img src="<%= url %>"></div>
								<%_ } _%>
								<%_ if (post.textbody) { _%>
									<div class="row post-textbody">
									<%_ if (post.textbody.includes('\n')) { _%>
										<%_ let l = post.textbody.split('\n') _%>
										<%_ l.forEach((line, i) => { _%>
											<%= line %>
											<%_ if (i !== l.length-1) { _%><br><%_ } _%>
										<%_ }) _%>
									<%_ } else { _%>
										<p><%= post.textbody %></p>
									<%_ } _%>
									</div>
								<%_ } _%>
							</div>
						<%_ }) _%>
					<%_ } else { _%>
						No blog posts yet...
					<%_ } _%>
				</div>
			</div>
		</section>
<%_ include partials/footer _%>