<%_ include partials/header _%>
		<%_ include partials/news_banner _%>
		<section class="blog <%= url.includes('post') ? 'single-post' : '' %>">
			<%_ include partials/global_nav _%>

			<%_ if (posts && posts.length && !url.includes('post')) { _%>
				<nav class="col-sm-2 sidebar-nav col dt-view">
					<div class="inner-nav">
						<%_ posts.forEach(post => { _%>
							<div class="row link title"><a href="/library/post/<%= post._id %>">
								<div style="overflow: hidden; text-overflow: ellipsis;"><%= post.title || 'Untitled' %></div>
							</a></div>
						<%_ }) _%>
					</div>
				</nav>
			<%_ } _%>

			<main class="col-sm-<%= posts && posts.length && !url.includes('post') ? 10 : 12 %> col blog-container">
				<div class="blog-body">
					<%_ if (posts && posts.length) { _%>
						<%_ posts.forEach((post, i) => { _%>

						<%_ if (i % 2 == 0) { _%>
							<div class="row post-row">
							<%_ if (url.includes('post')) { _%>
								<div id="back">
									<a href="/library">
										<div class="left-arrow"></div>
										<span>Back to Library</span>
									</a>
								</div>
							<%_ } _%>
						<%_ } _%>

							<div class="post col-sm-6 <%= url.includes('post') ? 'centreX' : '' %>" data-id="<%= post._id %>">
								<div class="post-inner">
									<%_ if (post.title) { _%>
										<div class="row post-title">
											<h1 class="main-title" style="display: inline;"><%= post.title %></h1>
											<%_ if (post.subtitle) { _%>&#8195;<i class="sub-title" style="display: inline;"><%= post.subtitle %></i><%_ } _%>
										</div>
									<%_ } _%>
									<div class="row post-body">

										<%_ if (post.mediaList.length) { _%>
											<%_ if (post.mediaList.length > 1) { _%>
												<div class="post-media carousel slide" id="post-media-carousel">
										
													<ol class="carousel-indicators" style="bottom: 0">
														<%_ post.mediaList.forEach((mediaItem, i) => { _%>
															<li data-target="#post-media-carousel" data-slide-to="<%= i %>" class="<%= i == 0 ? 'active ' : '' %>"></li>
														<%_ }) _%>
													</ol>

													<div class="carousel-inner" style="height: 100%">
														<%_ post.mediaList.forEach((mediaItem, i) => { _%>
															<div class="item <%= i == 0 ? 'active ' : '' %>" style="width: 100%; height: 100%; background-position: center; background-size: contain; background-repeat: no-repeat; background-image: url('/media/<%= mediaItem %>');"></div>
														<%_ }) _%>
													</div>

													<!-- Left + right arrow controls -->
													<a class="left carousel-control" data-slide="prev">
														<span class="glyphicon glyphicon-chevron-left"></span>
														<span class="sr-only">Previous</span>
													</a>
													<a class="right carousel-control" data-slide="next">
														<span class="glyphicon glyphicon-chevron-right"></span>
														<span class="sr-only">Next</span>
													</a>
												</div>
											<%_ } else { _%>
												<div class="post-media single" style="background-image: url('/media/<%= post.mediaList[0] %>');"></div>
											<%_ } _%>
										<%_ } _%>

										<%_ if (post.textbody) { _%>
											<div class="post-textbody">
											<%_ if (post.textbody.includes('\n')) { _%>
												<%_ let l = post.textbody.split('\n') _%>
												<%_ l.forEach((line, i) => { _%>
													<%= line %>
													<%_ if (i !== l.length-1) { _%><br><%_ } _%>
												<%_ }) _%>
											<%_ } else { _%>
												<p><%= post.textbody %></p>
											<%_ } _%>
											</div>
										<%_ } _%>
									</div>
								</div>
							</div>

						<%_ if (i % 2 != 0 || i == posts.length-1) { _%>
							</div>
						<%_ } _%>

						<%_ }) _%>
					<%_ } else { _%>
						<p style="text-align: center;">No blog posts yet...</p>
					<%_ } _%>
				</div>
			</main>
		</section>
<%_ include partials/footer _%>